---
const title = Astro.props.title;
const subtitle = Astro.props.subtitle;
---

<header class="relative md:h-[450px] h-[350px] w-full overflow-hidden">
  <slot />
  <div
    class="absolute inset-0 bg-gradient-to-b from-black/60 via-black/50 to-black/70"
  >
  </div>
  <div
    class="relative h-full flex flex-col items-center justify-center space-y-4"
  >
    <h1 class="text-5xl md:text-7xl font-bold text-white mb-6 leading-tight">
        {title}
      </h1>
      
      <p class="text-xl md:text-2xl text-green-100 mb-8 leading-relaxed">
        {subtitle}
      </p>
  </div>
</header>